	<div class="main">
	</div>
<div class="home">
	
	<div class="root-search">
	<form id="main-search" class="">
		<div class="search-text">Got A Plan Tonight?</div>
	</br>
	<div class="form-group">
			<input id="city" class="form-control" type="text" name="city" placeholder="Enter A Location">
			<button type="submit" class="btn btn-default btn-sm">Search</button>
		</div>
	</form>
	</div>
	<div class="root-options">
		<%= render "layouts/options" %>
	</div>
<!--footer -->

</div>
<script>
	$('body').removeClass('bg');
	$('#yield').addClass('container');
	
	var cities = [
		{
			value: "San Francisco, CA",
			label: "San Francisco, CA",
		},
		{
			value: "Los Angeles, CA",
			label: "Los Angeles, CA",
		},
		{
			value: "New York, CA",
			label: "New York, CA",
		}
	]
	
	$("#city").autocomplete({
		minLength: 0,
		source: cities,
		focus: function (event, ui) {
			$('#city').val(ui.item.label);
			return false;
		},
		select: function (event, ui) {
			$('#city').val(ui.item.label);
			return false
		}
	})
	
	$('#main-search').on("submit", function (event){
		event.preventDefault();
		$input = $(event.currentTarget).find('input');
		city = $input.serialize();
		$input.val("");
		Backbone.history.navigate(('/search?' + city), { trigger: true });
	})
	
	
	
</script>


