<div class="main">
	<div class="row">
		<div class="photo">
			<div class="col-xs-5">
				<img class="affix-left"
				src="../assets/googlemapsplaceholder.png" width=100%>
			</div>
		</div>
		
		<div class="col-xs-7 pull-right">
			<div class="bus-lists">
				
			</div>
		</div>
	</div>
	
	
</div>

