<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">
	<input 
		type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
		
	<label for="user_email">Email</label>	
	<input 
		type="text"
		name="user[email]"
		id="user_email">
		
	</br>
	
	<label for="user_password">Password</label>	
	<input
		type="password"
		name="user[password]"
		id="user_password">
	</br>
				
	<input type="submit" value="Sign In">
	<button class="guest-login">Guest Login</button>
</form>

Or click <%= link_to "here", new_user_url %> to Sign Up.

<script>
$('button.guest-login').on("click", function (event){
	event.preventDefault();
	
	console.log(event.currentTarget);
	
	$form = $(event.currentTarget).parent();
	$email = $form.find('input#user_email');
	$password = $form.find('input#user_password');
	
	$email.val('guest@guestlogin.com');
	$password.val('guest1234');
	$form.submit();
})
</script>