<!-- Button trigger modal -->
</br>
<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#reviewModal">
  Write A Review
</button>

<button class="ride" value="Uber"><img src="assets/uber-icon.png"></button>
<button class="ride" value="lyft"><img src="assets/lyft-icon.png"></button>