<li>
	<div class="row">
		<div class="col-xs-2 rev-info">
			<% date = new Date(review.escape('created_at')) %>
			<%= date.toLocaleDateString() %>
		</br>
			<img src="http://www.hakkalabs.co/assets/placeholder.png" class="user-pic img-circle">
		</br>
			<%= review.user().escape('email').match(/[^@]*/) %>
		</div>
		
		<div class="col-xs-10 rev">
			<% for (var i = 0; i < review.get('score'); i++) { %>
				<span class="glyphicon glyphicon-star"></span>
			<% } %>
			<% if (Hotspots.currentUser.email === review.user().escape('email')){ %>
				<button class="remove-review hidden">
					<span class="glyphicon glyphicon-remove">
				</button>
			<% } %>
		</br>
			<%= review.escape("body") %>
		</div>
	</div>
	<hr>
</li>