<li class="bus-item pull-left">
	
		<a href="#" class="bus-item-img">
			<img src="<%= business.images().first().escape('url') %>">
		</a>
	
		<br>

	<div class="bus-info">
	
		<a class="bus-name"><%= business.escape('name') %></a>
	
		<a href="#" class="bus-name bus-address pull-right">
			<%= business.escape('street') %>
		</a>
	
		<br>
	
		<div class="bus-attr tag">
			<%= business.tags().first().escape('name')%>
			<div class="price pull-right">
				<% for(var i = 0; i < business.escape('price_range'); i++) { %>
					<span class="glyphicon glyphicon-usd"></span>
				<%}%>
			</div>
		
		</div>
	
	</div>
	
</li>