<li>
	<%= business.escape('name') %>
	<img src="<%= business.images().first().escape('url') %>"></img>
	<ul>
		<li><%= business.escape('street') %></li>
		<% business.tags().forEach(function (tag){ %>
			<li><%= tag.escape('name') %></li>
		<%	}) %>
  </ul>
</li>