<div class="filters">
	<div class="row">
		<div class="col-xs-3">
		Type
		</div>
		
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Bar">Bar</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Lounge">Lounge</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Club">Club</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default toggle-type">
				More Types <span class="caret"></span>
			</button>
		</div>
						
	</div>
	
	<div class="row hidden" id="more-types">
		<hr>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Dive Bar">Dive Bar</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Pool Hall">Pool Hall</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Dance Club">
				Dance Club
			</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Karaoke">Karaoke</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Bar and Grill">
				Bar/Grill
			</button>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-default filt" value="Comedy Club">
				Comedy
			</button>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-xs-3">
		Price
		</div>
		
		<div class="col-xs-2">
			<button class="price btn btn-default filt" value="1">
				<span class="glyphicon glyphicon-usd"></span>
			</button>
		</div>
		<div class="col-xs-2">
			<button class="price btn btn-default filt" value="2">
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
			</button>
		</div>
		<div class="col-xs-2">
			<button class="price btn btn-default filt" value="3">
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
			</button>
		</div>
		<div class="col-xs-2">
			<button class="price btn btn-default filt" value="4">
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
				<span class="glyphicon glyphicon-usd"></span>
			</button>
		</div>
		
	</div>
	
	<hr>
	
</div>
	<div class="row cur-filters">	
		<div class="col-xs-3">
		Filters
		</div>
		<div class="current-filters">
			<div class="col-xs-8 delete-filters">
			</div>
		</div>
	</div>
	
	<script>
	$(function () {
		$filtersRow = $('.cur-filters');
		var pos = $filtersRow.offset();
		
		$('.display-listings').scroll(function (){
			if ($(this).scrollTop() > pos.top - 65 && 
				$filtersRow.css('position') === 'static' && 
				$('.delete-filters').children().length > 0) {
					$filtersRow.addClass('fixed');
			} else if ($(this).scrollTop() <= pos.top - 65 && 
				$filtersRow.hasClass('fixed')) {
					$filtersRow.removeClass('fixed');
				}
		})
	})
	</script>