<div class="row">
	
	<div class="col-xs-5">
		<div class="map">
		</div>
	</div>
	
	
	<div class="col-xs-7 pull-right">
		<div class="filter">
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col-xs-7 pull-right">
		<div class="bus-lists">
		</div>
	</div>
</div>