<div class="container">
	Explore Local Nightlife
	<div class="row">
		<div class="col-xs-4 root-img">
			<img src="assets/san-fran-night.jpg">
			<div class="root-text">San Francisco</div>
		</div>
		<div class="col-xs-4 root-img">
			<img src="assets/Los-Angeles.jpg">
			<div class="root-text">Los Angeles</div>
		</div>
		<div class="col-xs-4 root-img">
			<img src="assets/new-york.jpeg">
			<div class="root-text">New York</div>
		</div>
	</div>
</div>